{% extends "inicio/index.html" %}
{% load static %}

{% block inicio_title %}
Family
{% endblock %}

{% block inicio_header %}

<header class="masthead" style="background-image: url('../../static/inicio/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-15 col-lg-16 col-xl-14">
                <div class="site-heading">
                    <h1>Crear nuevo familiar</h1>
                    <span class="subheading">Sumemos un Fernandez mas a la familia</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}  

{% block inicio_content %}

            {% for family in family %}
            <div>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Agregar a la familia" />
                </form>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}

        </div>
    </div>
</div>
<!--Pagination-->
<!-- <div class="container p-4">
    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if family.has_previous %}
                <a href="?page=1">&laquo; first</a> |
                <a href="?page={{ family.previous_page_number }}">previous</a> |
            {% endif %}

            {% if family.paginator.num_pages > 1 %}
            <span class="current">
                Page {{ family.number }} of {{ family.paginator.num_pages }} |
            </span>
            {% endif %}

            {% if family.has_next %}
                <a href="?page={{ family.next_page_number }}">next</a> |
                <a href="?page={{ family.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div> -->
<!--end of Pagination-->
{% endblock %}
